/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1170px) {
.modal_product_window{
	width: 96%;
}
.logo_lg{
	width:30%;
	float: left;
}
.phone_numbers{
	width: 20%;
	float: left;
}
.search_and_buttons{
	width:30%;
	float: left;
}
.auth_and_register{
	width:20%;
	float: left;
}
.test:after{
content: '';
position: absolute;
width: 9px;
left:84.8%;
margin-top: -30px;
height: 30px;
background: url(../img/sub-menu-arrow.png) 0 0 no-repeat;
}
.product>span>p{
	font-size:0.9em;
}
.san_menu>div>div{
	width:100%;
}
.san_menu>div>div>div>ul>li>a{
	width:100%;
}
.last_lg>div>img{
	position: absolute;
	left:3em;
	z-index: 192;
}
#search_lg{
	margin:1em 0 0 2em;
	}
.price_product>.price{
	margin-top:0.2em;
	font-size: 1.6em;
	float:left;
}
.price_product>.price>span{
	margin-top:0.5em;
	float:right;
}
.fast_rewiew{
	left:1.8em;
}
#left_menu>p>img{
	height: 16px;
	width: 24px;
	display: block;
	float:right;
}
.title_catalog_menu{
	width:100%;
	height: 36px;
	padding: 8px 9px 9	px 16px;
	background: #222e46 url(../img/sb-block.jpg) 0 0 no-repeat;
}
.title_catalog_menu>p{
	background: url(../img/icon-line.png) 0 0 no-repeat;
	background-position: 100%;
	color:#fff;
	width:100%;
	font-size:16px;
	text-transform: uppercase;
}
#brand_sidebar>ul>li>a{
	font-size:16px;
}
#extended_filter>span{
    font-size: 16px;
}
#extended_filter>span>img{
margin-top: -0.4em;
}
#extended_filter>input{
	width:25%;
}
#extended_filter>label{
	margin-top:1em;
}
#extended_filter>div#name_rub{
	left:82.5%;
}
#change_size>div>p.width_height_depth{
	font-size:14px;
}
#change_size>div>input{
	width:33px;
}
#change_size>div>label.to{
	margin-left:0.5em;
}
.img_for_product{
	height: 247px;
	padding: 0;
}
.nav_footer_menu{
	margin-left:2em;
}
.nav_footer_menu_2{
	margin-left:1em;
}
.nav_footer_menu_2>li>a,.nav_footer_menu>li>a{
font-size:18px;
}
.footer_nav>ul>li>a{
	font-size: 16px;
}
#count>p{
margin-left:0;
}
#variable{
	width: 106%;
}
#products_block_center{
margin-left: 0;
width:100%;
}
#sort>img.active{
	float:left;
	margin-left: 10%;
	padding-left: 0.1em;
}
.count_bottom>p.page_number {
	margin-left:10em;
}
.description_for_product>p.big_description{
	font-size:0.9em;
}
.options_product>span{
	padding-top: 4px;
	padding-bottom: 4px;
}
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
.product{
	margin-left: 0;	
}
.options>div.price_for_product>b{
	float: right;
	font-size: 17px;
	margin-right: 10px;
	margin-top: 15px;
	padding-bottom: 0.4em;
}
.options>div.price_for_product{
	padding:0 0 0.1em 0.1em;
	margin-top: 16px;
}
.options>div>sub{
float:left;
margin-left:10px;
margin-top:10px;
	}
.options>div.buy{
	padding-top: 1em;
	padding-bottom: 1.2em;
}
.product{
	width:30%;
	margin-left: 2.5%;
	}
.right_footer{
	width: 100%;
}
.nav_footer_menu{
	margin-left:20%;
}
.nav_footer_menu_2{
	margin-left:20%;
}
.nav_footer_menu_2>li>a,.nav_footer_menu>li>a{
font-size:20px;
}
.footer_info{
	margin-top:30px;
	font-size:13px;
	height: 30px;
}

footer{
	padding:15px 0 0 0;
	height:355px;
}
.count_bottom > p.page_number {
	margin-left:70%;
}
.logo_lg{
	width:57%;
	float: left;
}
.phone_numbers{
	width: 36%;
	float: right;
}
.phone_numbers>span.phone{
	font-size:30px;
}
header.header_sm{
height:99px;
}
#top_header_menu{
	margin-left:4%;
	width:90%;
}
#form_search{
	width:100%;
	height:88px;
	border-bottom: 1px solid #BDBCBC;
}
#form_search>input.search_input{
	width:80%;
	font-size:28px/1.3;
	padding: 0 15px;
	height: 100%;
}
#form_search>input.submit_input{
	width:20%;
	height: 100%;
}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.product{
	width:47%;
	margin-left:1%;
}
.product>img{
		margin:auto;
}
.options>div.price_for_product{
	padding-bottom: 0.2em;
	margin-top: 16px;
}
.options>div.price_for_product>b{
		float:right;
	font-size: 18px;
	margin-left: 5px;
	margin-top: 15px;
}
.nav_footer_menu{
	margin-left:15%;
}
.nav_footer_menu_2{
	margin-left:20%;
}
.count_bottom > p.page_number {
	margin-left:70%;
}
#menu_for_mobile{
	width:100%;
}
.phone_numbers{
	width:50%;
	padding-right: 0;
}
.logo_lg{
	width:49%;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	#menu_for_mobile>div>div>a{
		font-size: 0.8em;
	}
	}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
#contacts>p{
	margin:0.4em;
}
.product{
	width:32%;
	}
.options>div>b{
    font-size: 0.7em;
    padding-bottom: 0.2em;
}
body{
	background: #fff url(../img/header-border.png) 0 172px repeat-x;
}
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1171px) {
.product{
	width:217px;
	padding: 0;
}
.product_first{
	margin-left: 0.3%;
}
.product_next{
	margin-left:8px;
}
.logo_lg{
	width:30%;
	float: left;
}
.phone_numbers{
	width: 20%;
	float: left;
}
.search_and_buttons{
	width:25%;
	float: left;
}
.auth_and_register{
	width:21%;
	float: left;
}
}
@media only screen and (min-width: 1171px) and (max-width : 1225px){
.description_for_product>p.big_description{
	font-size:0.9em;
}
.options_product>span{
padding-top: 7px;
padding-bottom: 8px;
}
#extended_filter>input{
	width:50px;
}
.product{
	width:210px;
}
#change_size>div>p.title_change_size{
	font-size:14px;
}
#change_size>div>input{
	width:30px;
	height:17px; 
}
#change_size>div>p.width_height_depth{
	width:50px;
}
#change_size>div>img{
	margin-left: 10px;
}
#products_block_center{
width:105%;
}
#sort>img{
	margin-left: 8%;
	padding-left: 0.1em;
}
#count>p{
	margin-left: 0.5em;
}
.count_bottom > p.page_number {
	margin-left:10em;
}
#variable{
	width:98.5%;
}
.img_for_product{
	height: 255px;
}
}
@media only screen and (max-width: 690px){
	.options>div.price_for_product{
		padding-bottom: 0.55em;
	}
	.options>div.price_for_product>b{
	margin-left: 0;
	font-size:15px;
}
}
@media only screen and (min-width: 1170px) and (max-width: 1200px){
#extended_filter>div#name_rub{
left:89%;
}
.right_footer{
width:40%;
}
.container{
	width:1000px;
}
.left_footer{
	width:60%;
}
#count>p{
margin-left:0;
}
.nav_footer_menu_2{
	margin-left:1em;
}
.footer_nav>ul>li>a{
	font-size:15px;
}
#variable{
	width:102.5%;
}
}	
@media only screen and (max-width: 1200px) and (min-width: 992px){	
	#header_right_menu,.head{
	margin: auto;
	max-width: 1000px;
	padding: 0;
}
.moik_menu{
	width:730px;
}
.product{
	width: 215px;
	margin-left:36px !important;
}
#products_block_center{
	margin-left: -10.7%;
	width: 120%;
}
#sort>img{
	margin-left: 35px;
}
.bash_drop_menu{
width:730px;
}
.bash_block_menu{
width:730px;
}
.for_bash_menu{
width:730px;
}
.bath_menu{
width:730px;
}
.san_menu{
width:730px;
}
.smes_menu{
width:730px;
}
.setup_menu{
width:730px;
}
.polotno_menu{
width:730px;
}
.aks_menu{
width:730px;
}
.bass_menu{
width:730px;	
}
.brands_menu{
	width:730px;
	height:690px;
}
	.logo_lg>a{
		margin-left:-6%;
	}
	.logo_lg>a>img{
		margin-top:0.7%;
	}
	.phone_numbers{
		margin-left:-0.3%;
	}
	.search_and_buttons>span{
		font-size:14px;
	}
	.search_and_buttons>span.feedback_head{
		width:144px;
	}
	.search_and_buttons>span.sms_head{
		width:127px;
	}
	.search_and_buttons{
		width:271px;
		margin-left:0.7%;
	}
	.search_and_buttons>span{
    line-height: 26px;
	}
	#form_search>.search_input{
		width:238px !important;
	}
	#form_search>.submit_input{
		background-position: 55% 50%;
	}
	#header_right_menu>ul{
		margin-right:-1%;
	}
	.header_auth,.buttons_lg_top{
		margin-right:-1%;
	}
	.header_auth>.auth{
		width:68px;
		font-size: 14px;
		height: 24px;
		line-height: 24px;
	}
	.header_auth>.register{
		width:117px;
		font-size: 14px;
		height: 24px;
		line-height: 24px;
	}
	.center-block-container>div>.col-md-3{
		width:30%;
	}
	.center-block-container>div>.col-md-9{
		width:70%;
	}
	.center-block-container>div>.col-md-pull-9{
		right:71%;
	}
	.center-block-container>div>.col-md-push-3{
		left:29%;
	}
	.options>div.price_for_product>b{
    font-size:16px;
    margin-left:9%;
    }
 p.hidden-md{
		display: none;
	}

.options>div.buy{
	 margin-top: 1em;
    padding-top: 0.45em;
}
}
@media only screen and (max-width: 1040px) and (min-width:992px ){
.product{
	width: 210px;
	margin-left:24px !important;
}
#products_block_center{
	margin-left: -9%;
	width:110%;
}
#variable{
	width:100%;
}
}