/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1170px) {
.modal_product_window{
	width: 96%;
}
.test:after{
content: '';
position: absolute;
width: 9px;
left:84%;
margin-top: -30px;
height: 30px;
background: url(../img/sub-menu-arrow.png) 0 0 no-repeat;
}
.moik_menu{
	width:760px;
}
.bash_drop_menu{
width:760px;
}
.bash_block_menu{
width:760px;
}
.for_bash_menu{
width:760px;
}
.bath_menu{
widows:760px;
}
.san_menu{
width:760px;
}
.smes_menu{
width:760px;
}
.setup_menu{
width:760px;
}
.polotno_menu{
width:760px;
}
.aks_menu{
width:760px;
}
.bass_menu{
width:760px;	
}
.brands_menu{
	width:760px;
	height:690px;
}
.product>span>p{
	font-size:0.9em;
}
#left_menu>ul>li>a{
	padding:0.7em 0 0.4em 0;
	border-bottom: 1px solid #EDEDED;
	width:90%;
	margin: auto;
	color:#222e46;
	font-size: 14px;
	display: block;
}
.logo_lg{
    height: 88px;
    margin-top:3px;
}
.phone_numbers{
	width:20%;
	margin-left:49px;
	color:#fff;
}
.phone_numbers>span.phone{
	display: inline-block;
    margin-bottom: 6px;
    margin-top:-1px;
    font-size:16pt; 
}
.phone_numbers>span.time_for_call{
	margin-top:3px;
	display: inline-block;
	font-size:12px;
}
.search_and_buttons{
	margin-left:-12px;
	width:300px;
}
.search_and_buttons>span.feedback_head{
	color:#fff;
	margin-top:5px;
	float:left;
	padding-top:0.3em;
	padding-right: 1px;
	font-size:14px;
	width:125px;
	height:28px;
	text-align: center;
	background-color: #6F7583;
	text-transform: uppercase;
}
.search_and_buttons>span.sms_head{
	color:#fff;
	float:left;
	text-align: center;
	padding: 0.3em;
	padding-top: 0.5em;
	margin-top:5px;
	font-size:12px;
	width:122px;
	height:28px;
	background-color: #F06723;
	text-transform: uppercase;
}
.search_and_buttons>form>input.search_input{
	width:213px;
	height:28px;
	font-family: Arial, sans-serif;
	border:none;
	margin-top:17px;
	font-size:15px;
	padding-left:0.7em;
    outline: none;
    float:left;
}
.search_and_buttons>form>input.submit_input{
	width:33px;
	height:28px;
	border:none;
	margin-top:17px;
	background:#fff url(../img/search-submit.png) center;
	background-repeat: no-repeat;
    float:left;
}
.auth_and_register{
	float:right;
}
.header_auth{
	background-color: #F06723;
	color:#fff;
	width:191px;
	padding: 4px 0.8em 0 1em;
	position: absolute;
	left:3.3em;
	bottom:4.3em;
	height:28px;
}
.header_auth>a.auth{
	color:#fff;
	background: #f06723 url(../img/sep.gif) right center no-repeat;
	font-size: 15px;
	padding-right: 1em;
	text-transform: uppercase;
}
.header_auth>a.register{
	color:#fff;
	font-size: 15px;
	float:right;
	text-transform: uppercase;
}
.cart{
	position: absolute;
	right:4em;
	bottom: 0.6em;
}
.count_cart_now{
	color:#000;
	font-size:0.8em;
	background-color: #fff;
	padding: 0 0.3em;
	position: absolute;
	left:2.9em;
	-webkit-border-radius:10px ;
	-moz-border-radius:10px ;
	-ms-border-radius:10px ;
	-o-border-radius:10px ;
	border-radius:10px ;
}
.cart>a:hover .count_cart_now{
	color:#fff;
	background-color:#F06723;
}
#change_size>div>input{
	width: 2em;
}
#info-block>p{
width: 70%;
}
#info-block>h5{
	width:40%;
}
#sort>select{
	width:55%;
}
#count>p{
	width:90%;
}
#sort>select{
	width:35%;
}
.options>div.price_for_product>b{
	font-size:0.9em;
	padding-bottom: 0.1em;
}
.options>div.buy{
	margin-top:1.2em;
	padding-bottom: 1.2em;
	font-size:1em;
}
.san_menu>div>div{
	width:100%;
}
.san_menu>div>div>div>ul>li>a{
	width:100%;
}
#register{
	width:71%;
}
#register>a{
	font-size:1em;
}
.last_lg>div>img{
	position: absolute;
	left:3em;
	z-index: 192;
}
#auth{
	width:21%;
}
#auth>a{
	font-size:0.9em;
}
#feedback{
font-size: 0.8em;
padding-bottom: 0.5em;
	}
#search_lg{
	margin:1em 0 0 2em;
	}
.price_product>.price{
		margin-top:0.2em;
	font-size: 1.6em;
	float:left;
}
.price_product>.price>span{
	margin-top:0.5em;
	float:right;
}
.fast_rewiew{
	left:1.8em;
}

.title_catalog_menu{
	width:100%;
	height: 36px;
	padding: 8px 9px 8px 11px;
	background: #222e46 url(../img/sb-block.jpg) 0 0 no-repeat;
}
.title_catalog_menu>p{
	background: url(../img/icon-line.png) 0 0 no-repeat;
	background-position: 100%;
	color:#fff;
	width:100%;
    font-size: 13px;
	text-transform: uppercase;
}
#left_menu>p>img{
	height: 16px;
	width: 24px;
	display: block;
	float:right;
}
#brand_sidebar>ul>li>a{
	font-size:0.9em;
}
#extended_filter>span{
	font-size:1em;
}
#extended_filter>span>img{
margin-top: -0.4em;
}
#extended_filter>input{
	width:30%;
}
#extended_filter>label{
	margin-top:1em;
}
#change_size>div>p{
	font-size: 0.8em;
}
#change_size>div>p.width_height_depth{
	font-size:0.8em;
}
#change_size>div>input{
	width:1.6em;
}
#change_size>div.col-lg-12.col-md-12{
	padding: 0;
}
.img_for_product{
	height: 234px;
	padding: 0;
	}
.nav_footer_menu{
	margin-left:2em;
}
.nav_footer_menu_2{
	margin-left:1em;
}
.nav_footer_menu_2>li>a,.nav_footer_menu>li>a{
font-size:18px;
}
.footer_nav>ul>li>a{
	font-size:14px;
	font-weight: bold;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 990px) {
.options>div.price_for_product>b{
		float:right;
	font-size: 0.8em;
	margin-right: 20px;
	margin-top: 25px;
	padding-bottom: 0.2em;
}
.options>div>sub{
float:left;
margin-left:10px;
margin-top:10px;
	}
.options>div.buy{
	padding-bottom: 1.9em;
}
.product{
	width:32%;
	}
.phone_numbers{
	width:30%;
	color:#fff;
	float:right;
}
.phone_numbers>span.phone{
	display: inline-block;
    margin-bottom: 6px;
    font-size:13pt; 
}
.phone_numbers>span.time_for_call{
	margin-top:3px;
	display: inline-block;
	font-size:12px;
}
.right_footer{
	width: 100%;
}
.nav_footer_menu{
	margin-left:20%;
}
.nav_footer_menu_2{
	margin-left:20%;
}
.nav_footer_menu_2>li>a,.nav_footer_menu>li>a{
font-size:20px;
}
.footer_info{
	margin-top:30px;
	font-size:13px;
	height: 30px;
}
footer{
	padding:15px 0 0 0;
	height:310px;
}
#top_header_menu{
margin-left:0;
}
#products_block_center{
margin-left: 0;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
#mobile_variables>div>select{
		width:100%;
		font-size:0.8em;
	}	
.product{
	width:47%;
	}
.logo_lg{
	margin:0;
	float:left;
}
.phone_numbers{
	font-size:1.2em;
	margin-top:7px;
}

.options>div.price_for_product>b{
		float:right;
	font-size: 0.8em;
	margin-right: 20px;
	margin-top: 25px;
	padding-bottom: 0.9em;
}
.nav_footer_menu{
	margin-left:15%;
}
.nav_footer_menu_2{
	margin-left:20%;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	#menu_for_mobile>div>div>a{
		font-size: 0.8em;
	}
#mobile_variables>div>select{
		width:100%;
		font-size:0.61em;
	}
	
	}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
#contacts>p{
	margin:0.4em;
}
.product{
	width:31%;
	}
.options>div>b{
    font-size: 0.7em;
    padding-bottom: 0.2em;
}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1170px) {
.product{
	width:23%;
}
.options > div > b {
  font-size:0.9em;
    padding-bottom: 0.2em;
}
.logo_lg{
	margin-left:88px;
    height: 88px;
    margin-top:3px;
}
.phone_numbers{
	width:20%;
	margin-left:23px;
	color:#fff;	
}
.phone_numbers>span.phone{
	display: inline-block;
    margin-bottom: 6px;
    margin-top:-1px;
    font-size:16pt; 
}
.phone_numbers>span.time_for_call{
	margin-top:3px;
	display: inline-block;
	font-size:12px;
}
.search_and_buttons{
	margin-left:-12px;
}
.search_and_buttons>span.feedback_head{
	color:#fff;
	margin-top:5px;
	float:left;
	padding-top:0.3em;
	padding-right: 1px;
	font-size:15px;
	width:149px;
	cursor: pointer;
	height:28px;
	text-align: center;
	background-color: #6F7583;
	text-transform: uppercase;
}
.search_and_buttons>span.feedback_head:hover{
text-decoration: underline;
	}
.search_and_buttons>span.sms_head{
	color:#fff;
	float:left;
	text-align: center;
	padding: 0.3em;
	margin-top:5px;
	font-size:15px;
	width:132px;
	height:28px;
	cursor: pointer;
	background-color: #F06723;
	text-transform: uppercase;
}
.search_and_buttons>span.sms_head:hover{
text-decoration: underline;
	}
.search_and_buttons>form>input.search_input{
	width:248px;
	height:28px;
	font-family: Arial, sans-serif;
	border:none;
	margin-top:17px;
	font-size:15px;
	padding-left:0.7em;
    outline: none;
    float:left;
}
.search_and_buttons>form>input.submit_input{
	width:33px;
	height:28px;
	border:none;
	margin-top:17px;
	background:#fff url(../img/search-submit.png) center;
	background-repeat: no-repeat;
    float:left;
}
.auth_and_register{
	float:right;
}
.header_auth{
	background-color: #F06723;
	color:#fff;
	width:191px;
	padding: 5px 0.9em 0 1em;
	position: absolute;
	bottom: 4.3em;
	left:3.3em;
	height:28px;
}
.header_auth>a.auth{
	color:#fff;
	font-size: 15px;
	background: #f06723 url(../img/sep.gif) 97% center no-repeat;
	padding-right: 1em;
	text-transform: uppercase;
}
.header_auth>a.register{
	color:#fff;
	font-size: 15px;
	float:right;
	text-transform: uppercase;
}
.cart{
	position: absolute;
	right:9em;
	bottom: 1.2em;
}
.cart>a>img{
	width:35px;
	height:30px;
}
.count_cart_now{
	color:#000;
	font-size:0.8em;
	background-color: #fff;
	padding: 0 0.2em 0 0.3em;
	position: absolute;
	left:2.5em;
	text-align: center;
	bottom:1.8em;
	-webkit-border-radius:10px ;
	-moz-border-radius:10px ;
	-ms-border-radius:10px ;
	-o-border-radius:10px ;
	border-radius:10px ;
}
.cart>a:hover .count_cart_now{
	color:#fff;
	background-color:#F06723;
}

#left_menu>ul>li>a{
	padding:0.7em 0 0.4em 0;
	border-bottom: 1px solid #EDEDED;
	width:90%;
	margin: auto;
	color:#222e46;
	font-size: 16px;
	display: block;
}
}
@media only screen and (min-width : 1171px) and (max-width : 1293px){
.search_and_buttons>span.sms_head{
width:102px;
font-size:13px;
}
.search_and_buttons>span.feedback_head{
	font-size:13px;
	width:130px;
}
.search_and_buttons>form>input.search_input{
width:200px;
}
.header_auth{
	bottom:4.25em;
	margin-top:-10px;
}
.cart{
	bottom: 1em;
}
}
@media only screen and (min-width: 1124px) and (max-width: 1169px){
	.cart{
	top:1.8em;
}
.header_auth{
	top:0;
	margin-top:-10px;
}
}