*{
	margin:0;
	padding: 0;
}
body{
	width: 100%;
	font: normal 14px/1.3 Tahoma, Geneva, Verdana, Arial, sans-serif;
}
.center-block-container{
	position: relative;
	z-index: 1000;
	background-color: #fff;
}
/*Header lg top menu*/
header.top_header{
	height:122px;
	background:url(../img/bg.png) no-repeat top center;	
}
header.header_sm{
	background: url(../img/head_bg.png) no-repeat top center;
}
#header_right_menu{
	height:22px;
	padding: 0;
}
#header_right_menu>ul{
	list-style: none;
	padding-right: 10px;
	float:right;
}
#header_right_menu>ul>li{
	float:left;
}
#header_right_menu>ul>li>a{
	display: block;
	padding: 3px 6px;
	color:#fff;
	font-size:12px;
}
a.header_menu_i::before{
	content: '';
	position: absolute;
	top: 0;
	width: 33px;
	height: 2px;
	display: block;
	background: #fff;
}
a.header_menu_hover::before{
	display: none;
}
/*End header top*/
/*Head menu*/
.logo_lg>a{
	display: block;
	margin-top:4.2%;
	margin-left:-5.3%;
}
.phone_numbers{
color:#fff;
margin-left:0.2%;
margin-top:9px;
}
.phone_numbers>span.phone{
	font-size: 21px;
	display: inline-block;
    margin-bottom: 5px;
}
.phone_numbers>span.time_for_call{
	font-size: 12px;
	display: inline-block;
	margin-top: 4px;
}
.search_and_buttons{
	margin-left:3.9%;
}
.search_and_buttons>span{
	font-size: 15px;
	margin-top: 15px;
	display: inline-block; 
	height: 28px;
    text-align: center;
    text-transform: uppercase;
    line-height: 28px;
	color:#fff;
    cursor:pointer;
}
.search_and_buttons>span.feedback_head{
	width: 149px;
	float:left;
	background: #6f7583 none repeat scroll 0 0;
}
.search_and_buttons>span.sms_head{
	background: #f06723 none repeat scroll 0 0;
    width: 132px; 
}
.search_and_buttons>span:hover{
text-decoration: underline;
}
#form_search{
	width:281px;
	margin-top:17px;
	height:28px;
}
#form_search>.search_input{
	width:248px;
	height:28px;
	padding: 0 10px;
	border:medium none;  
	line-height: normal;
	font-family: Arial,sans-serif;
    font-size: 15px;    
	outline: medium none;
	display: block;
	float:left;
}
#form_search>.submit_input{
	display: block;
	width:33px;
	padding: 0 6px;
	height:28px;
	background: #fff url("../img/search-submit.png") no-repeat scroll 50% 50%;
    border: medium none;
}
.header_auth{
	position: absolute;
    right: 10px;
    top: 1px;
}
.header_auth>a{
	color: #fff;
	display: block;
	float: left;
	font-size: 15px;
	height: 28px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.header_auth>.auth{
	background: #f06723 url("../img/sep.gif") no-repeat scroll;
	background-position: 100% 44%; 
    width: 67px;
}
.header_auth>.auth:hover{
	text-decoration: underline;
}
.header_auth>.register{
	background: #f06723 none repeat scroll 0 0;
    width: 125px;
}
.header_auth>.register:hover{
	text-decoration: underline;
}
.buttons_lg_top{
	position: absolute;
	top: 28px;
	right: 10px;
	text-align: center;
	width: 192px;
}
.buttons_lg_top>a{
	display: block;
	float: left;
	width: 50%;
	color: #fff;
	text-decoration: none;
	height: 72px;
	position: relative;
}
.buttons_lg_top>a.views>img{
	width: 24px;
	margin-top: 13px;
	display: inline-block;
	height: 30px;
	position: relative;
}
.buttons_lg_top>a.views:before{
    content: '';
    position: absolute;
    top: 13px;
    right: -6px;
    display: block;
    width: 1px;
    height: 38px;
    background: #fff;
}
.buttons_lg_top>a.views>span.views_now{
display: inline-block;
position: absolute;
top:8px;
right:30px;
background: #fff;
color: #222e46;
width:13px;
height:13px;
padding: 0 4px;
font-size: 10px;
-webkit-border-radius: 9px;
-moz-border-radius: 9px;
border-radius: 9px;
}
.buttons_lg_top>a.views>div.views_text{
	text-align: center;
	font-size: 11px;
	margin-top: 3px;
}
.buttons_lg_top>a.views:hover .buttons_lg_top>a.views>span.views_now{
	background: #f06723;
	color: #fff;
}
.buttons_lg_top>a.cart>img{
	width:35px;
	margin-top: 13px;
	display: inline-block;
	height: 30px;
	position: relative;
}
.buttons_lg_top>a.cart>span.count_cart_now{
	display: inline-block;
	position: absolute;
	top:8px;
	right:24px;
	background: #fff;
	color: #222e46;
	padding: 0 4px;
	font-size: 10px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
}
.buttons_lg_top>a.cart>div.cart_text{
	text-align: center;
	font-size: 11px;
	margin-top: 3px;
}
.buttons_lg_top>a.cart>div.cart_text>.rub{
	font-size:0.8em;
}
/*End Head*/
/*Left sidebar*/
#left_menu{
	width: 91.5%;
	margin:1px 8% 0 -2%;
}
    	/*Title menu*/
.title_catalog_menu{
	width:100%;
	height: 37px;
	padding: 8px 9px 8px 17px;
	background: #222e46 url(../img/sb-block.jpg) 0 0 no-repeat;
}
.title_catalog_menu>p{
	background: url(../img/icon-line.png) no-repeat;
	background-position: 99.5% 70%;
	color:#fff;
	width:100%;
    font-size: 16px;
	text-transform: uppercase;
}
		/*End Title menu*/
		/*Menu*/
#left_menu>ul{
border:1px solid #E4E4E4;
border-top:none;
width: 100%;
padding: 0.15em 0em 0 0.3em;
list-style: none;	
}
.test, #left_menu>ul>li{
width:100%;
margin:0;
padding: 0;
display:none;
}
#left_menu>ul>li>a{
	padding-top:0.5em;
	padding-bottom: 0.1em;
	border-bottom: 1px solid #EDEDED;
	width:92%;
	margin: auto;
	color:#222e46;
	font-size: 16px;
	display: block;
}
#left_menu>ul>li>a>img{
	margin-right: 5px;
}
#left_menu>ul>li.active{
	padding-bottom: 0.55em;
	padding-left: 1px;
	display: block;
}
#left_menu>ul>li.active>a{
	border-bottom: none;
	font-size: 16px;
	color:#f06723;
}
#left_menu>ul>li.brands>a{
	border-bottom: none;
}
#left_menu>ul>li>a:hover{
color:#F06723;
text-decoration: none;
}
#left_menu>ul>li>a>img{
	display: inline-block;
	height: 24px;
	width: 22px;
	float:right;
	padding-top: -4px;
	padding-bottom: 4px;
}
		/*End Menu*/
		/*Sidebar Categories*/
#categories{
	border:1px solid #E4E4E4;
	width: 91.5%;
	margin-right:6.5%;
	margin-left:-2%;
	margin-top:-2px;
}
#categories>p{
	text-transform: uppercase;
	margin:0;
	padding: 0.6em 0 0 1.1em;
	font-size:14px;
	color: #222E46;
}
#categories>ul{
	margin-top:0.65em;
	list-style: none;
}
#categories>ul>li{
	width: 90%;
	padding: 0.11em;
	margin-left:10px;
}
#categories>ul>li>a{
	color:#747A88;
font-size: 16px;
margin-left:0.2em;	
}
.cabin_bash_menu{
	display: block;
	margin-top:-1px;
}
.cabin_bash_menu1{
	display:block;
	margin-top:1px;
}
#categories>ul>li>a:hover{
		color:#FF5903;
		text-decoration: none;
}
#categories>ul>li>a>img{
	margin-right:9px;
}
.cabin_bash_menu2{
	margin-top:-1px;
}
#categories>ul:last-child{
	padding-bottom: 4px;
}
		/*End Sidebar Categories*/
		/*Brand Sidebar*/
#brand_sidebar{
	width: 91.5%;
	margin-right:6.5%;
	margin-left:-2%;
	margin-top:8px;
	border:1px solid #E4E4E4;
}
#brand_sidebar>p{
	text-transform: uppercase;
	color:#222E46;
font-size:14px;	
	margin:0;
	padding: 0.65em 0 0 1.1em;
}
#brand_sidebar>ul{
	margin-top:0.65em;
	list-style: none;
}
#brand_sidebar>ul>li{
	width: 90%;
	margin:0 auto;
	padding:0.1em;
}
#brand_sidebar>ul>li>a{
	font-weight: bold;
	color:#747A88;
	    font-size: 16px;
margin-left:0.05em;	
margin-bottom: 0.1em;
}
#brand_sidebar>ul>li>a:hover{
color:#FF5903;
text-decoration: none;
}
#brand_sidebar>ul>li>a>span{
	font-weight: normal;
}
.cabin_bash_menu3{
	display: block;	
	margin-top: -2px;
}
#brand_sidebar>ul>li>a>img{
margin-bottom: 0.1em;
margin-right:9px;
}
		/*End Brand Sidebar*/
		/*Extended Filter*/
#extended_filter{
	width: 91.5%;
	padding-bottom: 26px;
	margin-right:6.5%;
	margin-left:-2%;
	border:1px solid #E4E4E4;
	margin-top: 20px;
}		
#extended_filter>span{
	color:#fff;
	display: block;
	font-size: 16px;
	width:100%;
	cursor:pointer;
	text-transform: uppercase;
	padding: 0.5em 0 0.4em 0.5em;
	text-align: center;
	background-color: #222E46;
}
#extended_filter>span>img{
	float:right;
	margin:-0.2em 0 0 -0.1em;
}
#extended_filter>p{
	color: #222E46;
	text-transform: uppercase;
	font-size: 1em;
	margin:1em 0 0 0.5em;
}
#extended_filter>label{
	color: #747A88;
	font-weight: normal;
	margin-top:0.7em;
	margin-left:0.7em;
}
#extended_filter>input{
	width:64px;
	padding: 1px 0 2px 5px	;
	height:22px;
	  font-size: 12px;
	margin:0.7em 0 0 0.2em;
	border:1px solid #BABABA;
}
#extended_filter>div#name_rub{
	position: relative;
	bottom:21px;
	left:83.5%;
	font-size:0.8em;
}
/* Ширина слайдера */
#slider {
	cursor:pointer;
	width:90%;
	border: 0;
	height:6px;
	margin:0.3em 4%;
}
/* Контейнер слайдера */
.ui-slider {
	position: relative;
}
/* Ползунок */
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	overflow: hidden;
}
/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
.ui-slider-horizontal {
	 height: 6px; /* задаем высоту согласно дизайна */
}
/* позиционируем ползунки */
.ui-slider-horizontal .ui-slider-handle { 
	top: -5px;
	margin-left: -6px;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min { 
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}
/* оформление полосы по которой ходит ползунок */
.ui-widget-content { 
	border: 1px solid #D4D4D4;
	background: #DFDFDF;
}
/* оформление активного участка (между двумя ползунками) */
.ui-widget-header { 
	border: 1px solid #D4D4D4;
	background: #FE5900;
}
		/*End Extended Filted*/
		/*Width, Height, Depth*/
#change_size{
	width: 92%;
	margin-left:-2%;
	border:1px solid #EDEDED;
	margin-top:0.6em;
	height:160px;
	padding-top: 0.9em;
}
#change_size>div>p.title_change_size{
	float:left;
	text-transform: uppercase;
	color:#222E46;
	margin-bottom: 0;
}
#change_size>div.col-lg-12.col-md-12{
	margin-bottom: 0.5em;
}
#change_size>div>p.width_height_depth{
	margin: 0;
	color:#747A88;
	float: left;
	vertical-align: middle;
    width: 62px;
	margin-top:0.2em;
}
#change_size>div>img{
	width:8%;
	margin-bottom: 0.2em;
}
#change_size>div>label{
	color:#747A88;
	vertical-align: middle;
	text-align: center;
	margin-left: 0.2em;
	font-weight: normal;
}
#change_size>div>input{
	display: inline-block;
	width:35px;
	padding: 2px 0 2px 5px;
	height:22px;
	border: 1px solid #bababa;
background: #fff;
color: #2d2d2f;
}
#change_size>div.size{
	margin-top: 5px;
}
.buttons_lg{
	width:90%;
	margin-left:-4px;
}
.buttons_lg>div{
	padding:3px;
}
.button{
	text-align: center;
	margin-top: 0.4em;
	display:block;
	padding:0.3em 0;
	width: 100%;	
	font-size:15px;
	text-transform: uppercase;
	background-color:#152A45;
	cursor: pointer;
}
.button:hover{
	background-color: #FF5B06;
}
.button:hover .button>a:hover{
	text-decoration: none;
}
.button>a{
color:#fff;
}
.grey{
	background-color:#6C7584;
}
	/*End Width, Height, Depth*/
/*End Left sidebar*/
/*Center Block*/
/*Top Small Menu*/
#top_header_menu{
margin-top:0.8em;
line-height: 1;
margin-left:-3%;
padding:0;
background: url(../img/zebra.gif) repeat;
width: 100%;
}
#top_header_menu>a{
	font-size:11px;
	color:#73757D;
}
#top_header_menu>a:hover{
color:#000;
}
#top_header_menu>a.next:after{
	 margin-right: 1px;
    margin-left: 8px;
    content: '>';
    display: inline-block;
    width: 8px;
    height: 10px;
    position: relative;
    color: #777;
    font-size: 14px;
    top: 1px;
}

/*End Top Small Menu*/
/*Info Block*/
#info-block{
	margin-top:2.7em;
	margin-left:-3%;
	padding: 0;
}
#info-block>img{
	float:left;
	margin:2.15em 20px 25px -1px;
}
#info-block>h5{
color:#6a7180;
width:100%;
}
#info-block>p{
	width:101%;
	color: #6a7180;	
	font: normal 14px/1.3 Tahoma, Geneva, Verdana, Arial, sans-serif;
	display: block;
	margin-top:1.2em;
	margin-bottom: 15px;
}
#info-block>p.second_p{
	margin:0;
}
#info-block>p.information{
	color:#6A7180;
	font-weight: bold;
	font-size:1em;
	margin-top:1.05em;
}
#info-block>p.information>a{
	color:#222E46;
	font-weight: normal;
	text-decoration: underline;
}
#info-block>p.information>a:hover{
	text-decoration: none;
	color:#F06723;
}
/*End Info Block*/
/*Sort and Count*/
#variable{
	width:101.9%;
	height: 50px;
	padding: 10px 18px 9px 18px;
	margin:1.1em 0 5px -3%;
	background-color: #F5F5F6;
}
#sort>select{
	margin-top:2px;
	height:25px;
	width:133px;
	vertical-align: middle;
    text-align: left;
    font-family: Tahoma, Arial, sans-serif;
	color:#6F7583;
	font-size: 100%;
	float:left;
	padding-left: 6px;
	border:1px solid #EAEAEA;
	border-right:none;
	-o-appearance:none;
	-ms-appearance:none;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
}
#sort>span.arrow{
position: absolute;
left:9.8em;
top:2px;
cursor: pointer;
content: '';
width:29px;
height:25px;
background: #1c2c4d url(../img/select-arrow.gif) no-repeat;
background-position: 50% 45%;
}
#sort>select>option{
	color:#000;
}
#sort>p{
	float:left;
	margin-left:2.55em;
	margin-top: 0.45em;
	color:#6F7583;
}
#sort>img{
	width:31px;
	height: 31px;
	cursor: pointer;
	padding: 0.05em;
	margin-left:9px;
}
#sort>img.active{
	padding-top: 0.1em;
	border:1px solid #FF3E15;
}
#sort>img.not_active_img{
	margin-left: 5px;
	padding: 0.1em 0.05em 0 0.05em;
	border:1px solid #C1C4CA;
}
#count>p{
float: left;
margin-left: 6.6em;
margin-top: 6px;
color:#6F7583;
}
#count>select{
	text-align: left;
	font-family: Tahoma, Arial, sans-serif;
	height:25px;
	margin-left:6px;
	margin-top:2px;
	padding-left: 6px;
	width:32px;
	border:1px solid #EAEAEA;
	border-right: none;
	color:#6F7583;
	-o-appearance:none;
	-ms-appearance:none;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
}
#count>span.arrow_l{
position: absolute;
top:2px;
cursor: pointer;
content: '';
width:29px;
height:25px;
background: #1c2c4d url(../img/select-arrow.gif) no-repeat;
background-position: 50% 45%;
}
#count>select>option{
	color:#000;
}
/*End Sort and Count*/
/*Center Block Products*/
#products_block_center{
	margin-top: 0em;
	width:110%;
	margin-left:-5.2%;
}
#product_block_center:first-child{
	margin-left: 0.3%;
}
.product{
	cursor: pointer;
	position: relative;
	border:1px solid #EDEDED;
	margin-bottom: 10px;
}
.product:hover{
	-o-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
	-ms-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
.product>img{
		margin:auto;
	}
/*БЫСТРЫЙ ПРОСМОТР*/
.fast_rewiew{
	text-decoration: underline;
	position: absolute;
	z-index:200;
	width:80%;
	font-size:0.9em;
	margin:0 auto;
	display: none;
	bottom:18em;
	left:1.5em;
	background:rgba(255, 255, 255, .5);
	color: #222e46;
	box-shadow: none;
	text-align: center;
	font-size: 12px;
	line-height: 26px;
	border: 1px solid #e7e7e7;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
}
.fast_rewiew>img{
	width:15px;
	height:15px;
	float:left;
	margin-top:0.4em;
	margin-left:0.7em;
}
/*ТОВАРЫ*/
.product>a{
	display:block;
	margin-top: 0.5em;
	text-transform: uppercase;
	font-size: 14px;
	color: #222E46;
	margin-left:5px;
}
.product>a:hover{
	text-decoration: none;
	color: #E34F09;
}
.product>div.description{
	display: block;
	margin-top: 1em;
	margin-left: 10px;
}
.product>div.description>p{
	width:100%;
	color:#7D8390;
	float:left;
	margin-bottom: 0;
}
.product>div.description>p>span{
	float:right;
	margin-right: 10px;
}
.options{
	margin-left:0;
}
.options>div{
	font-family: Arial, Tahoma, Verdana, sans-serif;
	background-color: #222E46;
	color:#fff;
	font-size:18px;
	width:50%;
}
.options>div>sub{
	margin-left: 5px;
	color: #F16726;
	font-size:12px;
	bottom: 1px;
}
.options>div.buy{
	margin-top:1em;
	border-left:2px solid #F16726;
	font-size: 16px;
	text-transform: uppercase;
	padding:0.6em 0 0.9em 0;
	text-align: center;
	width:43.5%;
}
.options>div.buy:hover{
	background-color: #F16726;
}
.options>div.price_for_product{
	margin-top:0.9em;
	padding:0;
}
.options>div.price_for_product>b{
	float:left;
	margin-top: -3px;
	font-weight: normal;
	font-size:18px;
	padding-bottom: 0.05em;
	margin-left: 15%;
}
.options>div>b>span{
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size:0.8em;
	font-weight: normal;
}
p.zvonok{
	color:#FF5903;
	margin-bottom: 0;
	font-size: 0.9em;
}
/*End Center Block Products*/
/*Change Page Block*/

/* End Change Page Block */
/*End Center Block*/
/*Menu Mobile*/
#menu_for_mobile{
	width:100%;
	background-color: #131F31;
}
.menu_block{
	width:20%;
	float:left;
}
#menu_for_mobile>div>b.count_cart{
	background-color: #fff;
	color: #152A45;
	position: absolute;
	text-align: center;
	width: 22px;
	right:26%;
	top:5px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}
#menu_for_mobile>div>b.count_views{
	background-color: #fff;
	color: #152A45;
	position: absolute;
	text-align: center;
	padding: 0 0.3em;
	width: 22px;
	left:51%;
	top:5px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}
#menu_for_mobile>div>div{
text-align: center;
padding: 0.7em 0;
}
#menu_for_mobile>div>div>a>img{
	width:45px;
	height:45px;
	margin-right: 0.2em;
}
#menu_for_mobile>div>div>a{
	color:#fff;
	font-size:1em;
}

/*End Menu Mobile*/
/*Mobile Variables*/
#mobile_variables{
	margin:1em 0;
}
#mobile_variables>div>select{
	width: 87%;
	height: 27px;
	border: 1px solid #EAEAEA;
	color:#6F7583;
	font-size: 1em;
	cursor: pointer;
	-o-appearance:none;
	-ms-appearance:none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
#mobile_variables>div>span.arrow_mobile{
	position: absolute;
	cursor: pointer;
	content: '';
	width:13%;
	height:27px;
	background: #1c2c4d url(../img/select-arrow.gif) no-repeat;
	background-position: 50% 45%;
}
#mobile_variables>div>select>option{
	color:#000;
}
/*End Mobile Variables*/




/*Кнопка наверх*/
.change_page>a.top{
color:#FF5903;
text-transform: uppercase;
font-size:1.3em;
display:block;
width:150px;
float:left;
margin-top:1em;
}
.change_page>a.top>img{
	width:30px;
	height:25px;
	margin-right:0.5em;
}
/*Поиск для телефона*/
.search_mobile{
	padding: 0;
	margin:0;
	padding-bottom: -10px;
	height:51px;
	display: none;
}
form.search_mobile>input.search_input{
	height:100%;
	margin:0;
	width:90%;
		border:1px solid #F2F0EE;
	padding-left: 20px;
	border-right: none;
	float: left;
}
form.search_mobile>input.submit_input{
	width: 10%;
	height: 100%;
	border:1px solid #F2F0EE;
	background:#fff url(../img/search-submit.png) no-repeat;
	background-position: 45% 50%;
}
/*Выпадающее меню*/
/*Ползунок справа*/
	.test:after{
	content: '';
	position: absolute;
	width: 9px;
	left:85%;
	margin-top: -30px;
	height: 30px;
	background: url(../img/sub-menu-arrow.png) 0 0 no-repeat;
	}
.bash_drop_menu{
	height:400px;
	position: absolute;
	width:900px;
	display: none;
	background-color:#F8F8F8;
	left:93.3%;
	top:0;
	z-index: 6000;
}
.bash_drop_menu>div>h4{
color:#222E46;
margin-left:1.5em;
font-weight: bold;
text-transform: uppercase;
float:left;
width:50%;
}
.bash_drop_menu>div>span{
	float: left;
    width: 168px;
	margin-top: 15px;
    height: 185px;
    background-color: #fff;
    text-align: center;
}
.bash_drop_menu>div>ul{
	color:#222E46;
	margin-left: 2em;
	float:left;
	width:60%;
	list-style: none;
}
.bash_drop_menu>div>ul>li{
	margin-top:0.5em;
}
.bash_drop_menu>div>ul>li>a{
	color:#5B606B;
}
.bash_drop_menu>div>ul>li>a:hover{
color:#E34F09;
}

.bash_block_menu{
	height:400px;
	position: absolute;
	width:900px;
	display: none;
	background-color:#F8F8F8;
	left:93.3%;
	top:0;
	z-index: 6000;
}
.bash_block_menu>div>h4{
color:#222E46;
margin-left:1.5em;
font-weight: bold;
text-transform: uppercase;
width:50%;
float:left;
}
.bash_block_menu>div>span{
	float: left;
    width: 168px;
	margin-top: 15px;
    height: 185px;
    background-color: #fff;
    text-align: center;
}
.bash_block_menu>div>ul{
	color:#222E46;
	margin-left: 2em;
	float:left;
	width:60%;
	list-style: none;
}
.bash_block_menu>div>ul>li{
	margin-top:0.5em;
}
.bash_block_menu>div>ul>li>a{
	color:#5B606B;
}
.bash_block_menu>div>ul>li>a:hover{
color:#E34F09;
}
.for_bash_menu{
	height:400px;
	position: absolute;
	width:900px;
	display: none;
	background-color:#F8F8F8;
	left:93.3%;
	top:0;
	z-index: 6000;
}
.for_bash_menu>div>h4{
color:#222E46;
margin-left:1.5em;
font-weight: bold;
text-transform: uppercase;
width:50%;
float:left;
}
.for_bash_menu>div>span{
	float: left;
    width: 168px;
	margin-top: 15px;
    height: 185px;
    background-color: #fff;
    text-align: center;
}

.for_bash_menu>div>ul{
	color:#222E46;
	margin-left: 2em;
	float:left;
	width:60%;
	list-style: none;
}
.for_bash_menu>div>ul>li{
	margin-top:0.5em;
}
.for_bash_menu>div>ul>li>a{
	color:#5B606B;
}
.for_bash_menu>div>ul>li>a:hover{
color:#E34F09;
}
.bath_menu{
	height:400px;
	position: absolute;
	width:900px;
	display: none;
	background:#f9f9f9 url(../img/zebra2.gif) 0 0 repeat;
	left:93.3%;
	top:0;
	z-index: 6000;
}
.bath_menu>div>h4{
color:#222E46;
font-weight: bold;
text-transform: uppercase;
width:50%;
margin-left:1.5em;
float:left;
}
.bath_menu>div>span{
	float: left;
    width: 168px;
	margin-top: 15px;
    height: 185px;
    background-color: #fff;
    text-align: center;
}
.bath_menu>div>ul{
	color:#222E46;
	margin-left: 2em;
	float:left;
	width:70%;
	list-style: none;
}
.bath_menu>div>ul>li{
	margin-top:0.5em;
}
.bath_menu>div>ul>li>a{
	color:#5B606B;
}
.bath_menu>div>ul>li>a:hover{
color:#E34F09;
}
.san_menu{
	height:500px;
	position: absolute;
	width:900px;
	display: none;
	background:#f9f9f9 url(../img/zebra2.gif) 0 0 repeat;
	left:93.3%;
	top:0;
	z-index: 6000;
}
.san_menu>div>div{
	float:left;
	margin-top:2em;
}
.san_menu>div>div>div>h4{
color:#222E46;
font-weight: bold;
margin-left:1.5em;
text-transform: uppercase;
float:left;
width:50%;
}
.san_menu>div>div>div>span{
	float: left;
    width: 168px;
    height: 185px;
	margin-top: 15px;
    background-color: #fff;
    text-align: center;
    margin-right: 1em;
}
.san_menu>div>div>div>ul{
	color:#222E46;
	width: 100%;
	list-style: none;
}
.san_menu>div>div>div>ul>li{
	width:100%;
	margin-top:0.7em;
}
.san_menu>div>div>div>ul>li>a{
	float:left;
	color:#5B606B;
	width:54%;
}
.san_menu>div>div>div>ul>li>a:hover{
color:#E34F09;
}
.smes_menu{
	height:400px;
	position: absolute;
	width:900px;
	display: none;
	background:#f9f9f9 url(../img/zebra2.gif) 0 0 repeat;
	left:93.3%;
	top:0;
	z-index: 6000;
}
.smes_menu>div>h4{
color:#222E46;
font-weight: bold;
width:50%;
text-transform: uppercase;
margin-left:1.5em;
float:left;
}
.smes_menu>div>span{
	float: left;
    width: 168px;
	margin-top: 15px;
    height: 185px;
    background-color: #fff;
    text-align: center;
}
.smes_menu>div>ul{
	color:#222E46;
	margin-left: 2em;
	float:left;
	width:70%;
	list-style: none;
}
.smes_menu>div>ul>li{
	margin-top:0.5em;
}
.smes_menu>div>ul>li>a{
	color:#5B606B;
}
.smes_menu>div>ul>li>a:hover{
color:#E34F09;
}
.setup_menu{
	height:400px;
	position: absolute;
	width:900px;
	display: none;
	background:#f9f9f9 url(../img/zebra2.gif) 0 0 repeat;
	left:93.3%;
	top:0;
	z-index: 6000;
}
.setup_menu>div>h4{
color:#222E46;
font-weight: bold;
width:50%;
text-transform: uppercase;
margin-left:1.5em;
float:left;
}
.setup_menu>div>span{
	float: left;
    width: 168px;
	margin-top: 15px;
    height: 185px;
    background-color: #fff;
    text-align: center;
}
.setup_menu>div>ul{
	color:#222E46;
	margin-left: 2em;
	float:left;
	width:70%;
	list-style: none;
}
.setup_menu>div>ul>li{
	margin-top:0.5em;
}
.setup_menu>div>ul>li>a{
	color:#5B606B;
}
.setup_menu>div>ul>li>a:hover{
color:#E34F09;
}
.polotno_menu{
	height:400px;
	position: absolute;
	width:900px;
	display: none;
background:#f9f9f9 url(../img/zebra2.gif) 0 0 repeat;
	left:93.3%;
	top:0;
	z-index: 6000;
}
.polotno_menu>div>h4{
color:#222E46;
font-weight: bold;
width:50%;
text-transform: uppercase;
margin-left:1.5em;
float:left;
}
.polotno_menu>div>span{
	float: left;
    width: 168px;
	margin-top: 15px;
    height: 185px;
    background-color: #fff;
    text-align: center;
}
.polotno_menu>div>ul{
	color:#222E46;
	margin-left: 2em;
	float:left;
	width:70%;
	list-style: none;
}
.polotno_menu>div>ul>li{
	margin-top:0.5em;
}
.polotno_menu>div>ul>li>a{
	color:#5B606B;
}
.polotno_menu>div>ul>li>a:hover{
color:#E34F09;
}
.aks_menu{
	height:450px;
	position: absolute;
	width:900px;
	display: none;
	background:#f9f9f9 url(../img/zebra2.gif) 0 0 repeat;
	left:93.3%;
	top:0;
	z-index: 6000;
}
.aks_menu>div>h4{
color:#222E46;
font-weight: bold;
width:50%;
text-transform: uppercase;
margin-left:1.5em;
float:left;
}
.aks_menu>div>span{
	float: left;
    width: 168px;
	margin-top: 15px;
    height: 185px;
    background-color: #fff;
    text-align: center;
}
.aks_menu>div>ul{
	color:#222E46;
	margin-left: 2em;
	float:left;
	width:70%;
	list-style: none;
}
.aks_menu>div>ul>li{
	margin-top:0.5em;
}
.aks_menu>div>ul>li>a{
	color:#5B606B;
}
.aks_menu>div>ul>li>a:hover{
color:#E34F09;
}
.moik_menu{
	height:450px;
	position: absolute;
	width:900px;
	display: none;
	background:#f9f9f9 url(../img/zebra2.gif) 0 0 repeat;
	left:93.3%;
	top:0;
	z-index: 6000;
}
.moik_menu>div>h4{
color:#222E46;
font-weight: bold;
width:50%;
text-transform: uppercase;
margin-left:1.5em;
float:left;
}
.moik_menu>div>span{
	float: left;
    width: 168px;
    height: 185px;
    margin-top:15px;
    background-color: #fff;
    text-align: center;
}
.moik_menu>div>ul{
	color:#222E46;
	margin-left: 2em;
	float:left;
	width:70%;
	list-style: none;
}
.moik_menu>div>ul>li{
	margin-top:0.5em;
}
.moik_menu>div>ul>li>a{
	color:#5B606B;
}
.moik_menu>div>ul>li>a:hover{
color:#E34F09;
}
.bass_menu{
	height:450px;
	position: absolute;
	width:900px;
	display: none;
	background:#f9f9f9 url(../img/zebra2.gif) 0 0 repeat;
	left:93.3%;
	top:0;
	z-index: 6000;
}
.bass_menu>div>h4{
color:#222E46;
font-weight: bold;
width:50%;
text-transform: uppercase;
margin-left:1.5em;
float:left;
}
.bass_menu>div>span{
	float: left;
    width: 168px;
	margin-top: 15px;
    height: 185px;
    background-color: #fff;
    text-align: center;
}
.bass_menu>div>ul{
	color:#222E46;
	margin-left: 2em;
	float:left;
	width:70%;
	list-style: none;
}
.bass_menu>div>ul>li{
	margin-top:0.5em;
}
.bass_menu>div>ul>li>a{
	color:#5B606B;
}
.bass_menu>div>ul>li>a:hover{
	color:#E34F09;
}
#mobile_menu_left{
	width:80%;
	border:1px solid #EDEDED;
	display: none;
}
#mobile_menu_left>p{
	text-align: center;
	padding: 0.7em 0 0.7em 0;
	color:#fff;
	width:100%;
    font: normal Tahoma, Geneva, Verdana, Arial, sans-serif;
    font-size:1.7em;
	text-transform: uppercase;
	background-color: #6F7583;
	margin-bottom:0.3em;
}
#mobile_menu_left>p>img{
	height: 24px;
	width: 30px;
	padding-top: 0.1em;
	margin-right: 0.3em;
	display: block;
	float:right;
}
#mobile_menu_left>ul{
width: 95%;
margin:auto;
list-style: none;
background-color: #fff;
}
#mobile_menu_left>ul>li{
padding:1em 0;
border-bottom: 1px solid #ADB2BD;
width:90%;
margin:0.5em auto;
}
#mobile_menu_left>ul>li:last-child{
	border-bottom: none;
}
#mobile_menu_left>ul>li>a{
	width: 100%;
	padding-left: 1em;
	color:#152A45;
	font-size: 32px;
	display: block;
}
#mobile_menu_left>ul>li>a:hover{
color:#F06723;
}
#mobile_menu_left>ul>li>a>img{
	display:block;
	height: 28px;
	width: 28px;
	float:right;
}
/*Выпадающее меню Бренд*/
.brands_menu{
	height:658px;
	position: absolute;
	width:900px;
	display: none;
	background:#f9f9f9 url(../img/zebra2.gif) 0 0 repeat;
	left:94%;
	top:0;
	z-index: 6000;
}
.brands_menu>div>span{
	cursor: pointer;
	margin-top:0.5em;
	float:left;
	text-transform: uppercase;
	padding: 0.5em 2em;
	font-size: 1.1em;
	background-color: #5A6272;
	color:#fff;
}
.brands_menu>div>span.active_btn{
	background-color: #ff6e24;
}
.brands_menu>div>p{
	color:#FF6E24;
	float:left;
	font-weight: bold;
	width:100%;
	margin-bottom: 2px;
}
.brands_menu>div.col-lg-3.col-md-3{
	margin-top:2em;
}
.brands_menu>div>a{
	width:100%;
	color:#222E46;
	float:left;
	font-weight: bold;
}
.brands_menu>div>a:hover{
	color:#FF6E24;
}
.brands_menu>div>a>span{
	font-size: 0.9em;
	font-weight: normal;
}
.brands_menu>div.country_tab{
	display: none;
}

/*Обратный звонок*/
#modal_window_row{
	display:none;
}
#modal_window{
	width:80%;	
	border:3px solid #CBCFD2;
	margin:auto;
}
#modal_window>p{
	padding: 1em 0 1em 1em;
	font-size: 1.3em;
	text-transform: uppercase;
	background-color: #21354E;
	color: #fff;
	margin-bottom: 0;
}
#modal_window>p>img{
	cursor:pointer;
	margin:0.3em 0.6em 0 0;
	float: right;
}
#modal_window>form{

	padding: 1em 3em;
	background-color: #fff;
}
#modal_window>form>label{
	color:#5F5C5C;
	font-size:0.8em;
	font-weight: 200;
}
#modal_window>form>label>sup{
	color:red;
	font-size:1em;
}
#modal_window>form>input{
	width:90%;
	height:40px;
	margin-bottom: 0.5em;
}
#modal_window>form>button{
	padding: 0.3em 2em;
	font-size: 1.2em;
	border:none;
	text-transform: uppercase;
	background-color: #6C7584;
	color: #fff;
	margin-top:1em;
	margin-left:3em;
} 
#modal_window>form>button:hover{
	background-color:#FF5B06;
}
/*Форма письма*/
#modal_email{
	display: none;
}
#modal_email_window{
		width:70%;	
	border:3px solid #CBCFD2;
	margin:auto;
}
#modal_email_window>p{
	padding: 1em 0 1em 1em;
	font-size: 1.3em;
	text-transform: uppercase;
	background-color: #21354E;
	color: #fff;
	margin-bottom: 0;
}
#modal_email_window>p>img{
	cursor:pointer;
	margin:0.3em 0.6em 0 0;
	float: right;
}
#modal_email_window>form{

	padding: 1em 3em;
	background-color: #fff;
}
#modal_email_window>form>label{
	color:#5F5C5C;
	font-size:0.8em;
	margin-left:3em;
	font-weight: 200;
}
#modal_email_window>form>label>sup{
	color:red;
	font-size:1em;
}
#modal_email_window>form>input{
	width:80%;
	height:40px;
	margin:0.5em 3em;
}
#modal_email_window>form>textarea{
	width:80%;
	margin:0.5em 3em;
}
#modal_email_window>form>button{
	padding: 0.3em 2em;
	font-size: 1.2em;
	border:none;
	text-transform: uppercase;
	background-color: #6C7584;
	color: #fff;
	margin-top:1em;
	margin-left:6.8em;
} 
#modal_email_window>form>button:hover{
	background-color:#FF5B06;
}

/*Быстрый просморт продукта*/
#modal_product{
	display: none;
}
.modal_product_window{
	width:80%;
	margin:auto;
	background-color: #fff;
}
.title_modal_product>h2{
	font-weight: bold;
	font-size:1.2em;
float: left;
color: #222e46;
text-transform: uppercase;
}
.title_modal_product>img{
	margin-top:1em;
	float:right;
	cursor:pointer;
}
.prem>p{
float:right;
text-transform: uppercase;
font-size:0.9em;
color: #ea6226;
}
.description_product_modal{
	border:1px solid #E4E4E4;
	padding: 0;
	width:30%;
}
.description_product_modal>p{
	color:#6B6D76;
	margin-left:1em;
	margin-top:0.8em;
}
.description_product_modal>p>img{
	width:14px;
	height:14px;
	margin:0 0.5em;
}
.description_product_modal>p.have_items{
	color:#00C85E;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.9em;
	margin-top:4em;
	float:left;
}
.price_product{
	background: url(../img/zebra.gif) 0 0 repeat;
	padding: 2em 0;
	float:left;
	border-top:1px solid #EDEDED;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: bold;
	width:100%;
	margin:0;
}
.price_product>.price{
	margin-top: -0.4em;
	color:#FE5C07;
	font-size: 1.8em;
}
.price_product>.price>span{
	font-weight: bold;
	color:#000;
	text-transform: none;
	font-size:0.7em;
}
.description_product_modal>a{
	color:#fff;
	float:left;
	width:100%;
	text-transform: uppercase;
	font-weight: bold;
	font-size:1.1em;
    font-family: Arial, Tahoma, Verdana, sans-serif;
	text-align: center;
	padding: 0.7em 0;
}
.description_product_modal>a.more{
	background-color: #6C7584;
}
.description_product_modal>a.more:hover{
	background-color: #555B66;
	text-decoration: none
}
.description_product_modal>a.one_click{
	background-color: #FF5B06;
}
.description_product_modal>a.one_click:hover{
	background-color: #FC935D;
	text-decoration: none
}
.description_product_modal>a.add_to_cart{
	background-color: #152A45;
}
.description_product_modal>a.add_to_cart:hover{
	background-color:#324865;
	text-decoration: none
}
.tabs_nal{
	display: block;
	margin-left:8em;
}
.tabs_nal>span{
	margin-top:3.3em;
	float:left;
	display: inline-block;
	margin-left:0.3em;
	width:12px;
	height:16px;
	border:1px solid #E8E8E8;
}
.tabs_nal>span.have_nal{
	border:1px solid #00C85E;
	background-color: #00C85E;
}
.block_prem{
	border:1px solid #EDEDED;
	margin:0 0 0.5em 0;
}
.img_prem{
	border-right: 1px solid #EDEDED;
	background-color: #FBFBFC;
	height:90px;
}
.img_prem>img{
	margin-top:40%;
	margin-left:-10%;
	width:59px;
	height:58px;
}
.desc_prem>p{
	color:#6B6D76;
	font-size:0.9em;
	margin:0;
}
.desc_prem>.title_prem{
	margin-bottom:0.2em;
	color:#152A45;
	text-transform: uppercase;
	font-weight: bold;
	font-size:0.9em;
	font-style: Arial, Tahoma, Verdana, sans-serif;
}
.desc_prem>.title_prem>span{
	color:#FF5B06;
}
.description_for_product{
	color:#6B6D76;
	margin:1em 0;
}
.left_block_modal{
	width:35%;
	float:left;
}
.right_block_modal{
	width:35%;
	float:right;
}

/*Продукты в одну строку*/

.line_product{
	margin-top:2em;
	border:1px solid #DDD;
}
.title_for_product{
	line-height: 17px;
	border-bottom: 1px solid #DDD;
}
.title_for_product>a{
	font-size:14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #222e46;
	display: block;
	padding-top: 0.3em;
	padding-bottom: 1.6em;
}
.img_for_product{
	height: 240px;
	border-right:1px solid #DDD;
}
.img_for_product>img{
	margin:auto;
	margin-top: 10%;
}
.description_for_product{
	margin:0;
	padding-top: 0.5em;
	border-right:1px solid #DDD;
}
.description_for_product>p{
	margin:0;
}
.description_for_product>p.zvonok{
margin-top:5px;
}
.description_for_product>p.big_description{
	 color: #152a45;
}
.options_product{
padding: 0;
}
.options_product>.product_brand{
width:100%;
height:53px;
}
.options_product>.price_line{
	padding: 1em;
	height:88px;
	width:100%;
	background:url(../img/zebra.gif);
	border-top:1px solid #DDD;
}
.price_line>.product_line_price{
	margin-top:2em;
	float:left;
	color: #222e46;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}
.price_line>.product_line_price2{
	float:right;
	margin-top: 1.5em;
	font-size: 21px;
    color: #fe5c07;
    font-weight: bold;
    font-family: Arial, Tahoma, Verdana, sans-serif;
}
.price_line>.product_line_price2>b{
	font-size: 0.8em;
}
.options_product>span{
	width:50%;
	background-color: #152A45;
	color:#fff;
	text-align: center;
	float: left;
	font-size:15px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 39px;
	display: block;
	cursor:pointer;
	margin-top: 1px;
}   
.options_product>.view_product{
	border-right:2px solid #FF4F00;
}
.options_product>.view_product:hover{
background-color: #FF4F00;	
}
.options_product>.buy_product:hover{
background-color: #FF4F00;	
}
/*Footer*/
.count_bottom{
margin-top:2em;
margin-bottom: 1em;
}
.count_bottom>p.page_number{
	color: #222E46;
	float:left;
	margin-left:23em;
}
.count_bottom>a{
	color: #222E46;
	float:left;
	margin-left:3px;
}
.count_bottom>p.count_products{
	float:left;
	color: #222E46;
	margin-left: 3em;
}
.count_bottom>a.active_number{
	font-size:24px;
	margin-top:-8px;
	text-decoration: underline;
	color: #FE281E;
}
.count_bottom>select{
	text-align: left;
	font-family: Tahoma, Arial, sans-serif;
	height:25px;
	margin-left: 5px;
	padding-left: 6px;
	width:32px;
	margin-top: -3px;
	border:1px solid #EAEAEA;
	border-right: none;
	color:#6F7583;
	-o-appearance:none;
	-ms-appearance:none;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
}
.count_bottom>span.arrow_l{
position: absolute;
cursor: pointer;
margin-top: -3px;
content: '';
width:29px;
height:25px;
background: #1c2c4d url(../img/select-arrow.gif) no-repeat;
background-position: 50% 45%;
}
.to_top{
	margin-bottom: -2.5em;
	margin-left:2em;
}
.to_top>a{
	text-transform: uppercase;
	font-size:20px;
	color: #ff6f17;
}
.to_top>a>img{
	margin-right: 1em;
	margin-top: -0.3em;
}
/*Footer*/
footer{
	width:100%;
	border-top:4px solid #FF4F00;
	margin-top:2em;
	padding-top: 5px;
	height:270px;
	background: #1d2c44 url(../img/noise.jpg) 0 0 repeat;
}
#footer{
	padding-top:25px;
}
.left_footer{
	width: 62%;
	height: 226px;
	float:left;
	margin-left:-10px;
	border-right: 1px solid #314A80;
}
.left_footer>.footer_nav{
	float: left;
    margin-left: 20px;
    margin-bottom: 20px;
}
.footer_nav>ul{
	padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 19px;
    text-transform: uppercase;
}
.footer_nav>ul>li>a{
	color: #fff;
	text-decoration: none;
    display: block;
    padding: 3px 0;
    font-size: 19px;
    text-transform: uppercase;
}
.footer_nav>ul>li>a:hover{
	color:#FF4F00;
}
.footer_info{
	margin-top:19px;
	color:#fff;
	margin-left: 20px;
	font-size: 15px;
	float:left;
}
.footer_info>p{
	margin-bottom: 0;
}
.right_footer{
	width:38%;
	float:left;
}
.nav_footer_menu{
	margin-left:1.3em;
	float:left;
	margin-top: -0.05em;
	list-style: none;
}
.nav_footer_menu_2{
	margin-left:4.1em;
	float:left;
	list-style: none;
}
.nav_footer_menu>li>a.menu_footer,
.nav_footer_menu_2>li>a.menu_footer{
	display: block;
	margin-top: 1.5em;
}
.nav_footer_menu>li>a,.nav_footer_menu_2>li>a{
	color:#fff;
	font-size: 20px;
	margin-left: 1px;
}
.nav_footer_menu>li>a>img,.nav_footer_menu_2>li>a>img{
border-right: 1px solid #314A80;
margin-right: 0.7em;
}
.nav_footer_menu>li>a:hover,
.nav_footer_menu_2>li>a:hover{
	color:#FF4F00;
	text-decoration: none;
}
.footer_sm{
	width:100%;
	line-height: 30px;
	text-align: center;
	color:#fff;
	margin-top: 2em;
	background-color: #000;
}
/*BANK*/
.left_icons{
	width:34%;
	margin-top:1.5em;
	margin-left:2em;
	float:left;}
.right_icons{
	margin-top:1.5em;
	width:51%;
	float:right;
}
/*Мобильное выпадающее меню*/
.dropdown_menu_mobile{
	width:100%;
	display: none;
	list-style: none;
}
.dropdown_menu_mobile>li{
	width:100%;
	margin-top: 1em;
}
.dropdown_menu_mobile>li>a{
	display: block;
	color: #6f7583;
	font-size: 26px;
	text-decoration: none;
	padding: 5px 0 15px 29px;
	position: relative;
}
.dropdown_menu_mobile>li>a>img{
	margin-top: -1%;
	width:16px;
	height:16px;
	margin-right:5%;
}